<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'upload')}">

<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div th:if="${file}">
    <audio controls>
        <source th:src="@{${file}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>

<form action="#" th:action="@{/user/playlists/create}" th:object="${command}" method="post">
    <div class="container">
        <div class="form-group">
            <label for="playlistName" th:text="#{playlistName}"></label>
            <input type="text" class="form-control" id="playlistName" th:field="*{playlistName}">
        </div>
        <div class="checkbox" th:each="checkboxValue: ${allUserSongs}">
            <input type="checkbox" th:field="*{playlistSongs}" th:value="${checkboxValue.id}">
            <label th:for="${#ids.prev('playlistSongs')}" th:text="${checkboxValue.displayName}"></label>
        </div>
    </div>
</form>
</body>
</html>
