<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'upload')}">

<body>

<div class="row">
    <div class="col">
        <h2 th:text="#{createPlaylist}"></h2>
        <hr class="mt-0 mb-4">
    </div>
</div>

<form action="#" th:action="@{/user/playlists/create}" th:object="${command}" method="post">
    <div class="d-flex">
        <input type="text" class="form-control mr-2" id="playlistName" th:field="*{playlistName}"
               placeholder="Playlist name">
        <button type="submit" class="btn btn-success">Create</button>
    </div>

    <ul class="mt-5 list-group songs-container">
        <li class="song px-3 py-2 rounded-0 list-group-item list-group-item-action border-left-0 border-right-0"
            th:each="checkboxValue: ${allUserSongs}">
            <input type="checkbox" th:field="*{playlistSongs}" th:value="${checkboxValue.id}">
            <label class="mb-0" th:for="${#ids.prev('playlistSongs')}"
                   th:text="${checkboxValue.displayName}"></label>
        </li>
    </ul>
</form>

</body>
</html>