<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'upload')}">

<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div th:if="${param.success}" class="alert alert-success" th:text="#{profileUpdated}"></div>
<form action="#" th:action="@{/user/profile}" th:object="${command}" method="post">
    <div class="container">
        <div class="form-group">
            <label for="emailAddress" th:text="#{emailAddress}"></label>
            <input type="text" class="form-control" id="emailAddress" th:field="*{emailAddress}">
            <p th:each="error: ${#fields.errors('emailAddress')}"
               th:text="${error}">Validation error</p>
        </div>

        <div class="form-group">
            <label for="password" th:text="#{password}"></label>
            <input type="password" class="form-control" id="password" name="password" th:value="${command.password}">
            <p th:each="error: ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
        </div>

        <div class="form-group">
            <label for="confirmPassword" th:text="#{confirmPassword}"></label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" th:value="${command.confirmPassword}">
            <p th:each="error: ${#fields.errors('confirmPassword')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label for="gitlabToken" th:text="#{gitlabToken}"></label>
            <input type="text" class="form-control" id="gitlabToken" th:field="*{gitlabToken}">
            <p th:each="error: ${#fields.errors('gitlabToken')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label for="gitlabRepositoryName" th:text="#{gitlabRepositoryName}"></label>
            <input type="text" class="form-control" id="gitlabRepositoryName" th:field="*{gitlabRepositoryName}">
            <p th:each="error: ${#fields.errors('gitlabRepositoryName')}"
               th:text="${error}">Validation error</p>
        </div>
    </div>
    <button class="btn btn-lg btn-block btn-success" type="submit" th:text="#{submit}"></button>
</form>

</body>
</html>
