<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'upload')}">
<body>

<div class="row">
    <div class="col-8">
        <h2 th:text="#{songUploader}"></h2>
        <hr class="mt-0 mb-4">
        <div th:if="${message}" class="alert alert-success" th:utext="${message}"></div>

        <form method="POST" enctype="multipart/form-data" action="#"
              th:action="@{/user/upload} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}">
            <p th:text="#{uploadSong}"></p>
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="customFile" name="file" accept="audio/*">
                <label class="custom-file-label" for="customFile" th:text="#{chooseFile}"></label>
            </div>
            <div class="mt-1">
                <button type="submit" class="btn btn-success" th:text="#{upload}"></button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
