<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (template, menu)" xml:lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Fontawesome CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/styles.css}">

    <title th:text="#{cisapify}"></title>
</head>

<body>
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:text="#{cisapify}" th:href="@{/}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:text="#{home}" th:href="@{/}"><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:text="#{upload}" th:href="@{/user/upload}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link player-nav-link" th:text="#{player}" th:href="@{/user/player}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link player-nav-link" th:text="#{playerOld}" th:href="@{/user/player_old}"></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false"
                       th:text="#{playlists}"></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:text="#{show}" th:href="@{/user/playlists}"></a>
                        <a class="dropdown-item" th:text="#{create}" th:href="@{/user/playlists/create}"></a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" th:text="#{disabled}" href="#"></a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item dropdown"
                    th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${true}">
                    <a th:case="${false}" class="nav-link" th:href="@{/login}" th:text="#{login}"></a>
                    <a th:case="${true}" class="nav-link dropdown-toggle" th:text="${#authentication.getName()}"
                       data-toggle="dropdown" href="#"
                       aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu dropdown-menu-right login-dropdown-menu">
                        <a class="dropdown-item" th:text="#{profile}" th:href="@{/user/profile}"></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:text="#{logout}" th:href="@{/logout}"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-4">
    <th:block th:include="${template}"/>

    <div class="navbar fixed-bottom navbar-dark bg-dark">
        <span class="navbar-text" th:text="#{copyright}"></span>
    </div>
</div>

<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/core.js}"></script>
</body>
</html>