.login-dropdown-menu {
    width: 100%;
}

/* TODO Disabled to replace with SSE */
/*
.player-nav-link {
    display: none;
}
*/

.volume-bar {
    max-width: 100px;
}

#pauseBtn {
    display: none;
}

#loading {
    display: none;
}

.playlist-container {
    max-height: 300px;
    overflow-y: auto;
}

.songs-container {
    max-height: 400px;
    overflow-y: auto;
}

.songs-container * {
    cursor: pointer;
}

#playlist {
    padding-right: 0;
    padding-left: 0;
}

/* TODO find a better way (using bootstrap), this is a hack/workaround */

#prevBtn, #playBtn, #pauseBtn, #nextBtn, #progress, #barEmpty {
    cursor: pointer;
}

.custom-file {
    overflow: hidden;
}

.d-flex {
    padding-top: 0px;
    padding-bottom: 0px;
}

a.list-song {
    color: #495057;
    text-decoration: none;
}

body {
    padding-bottom: 70px;
}