.login-dropdown-menu {
    width: 100%;
}

.player-nav-link {
    display: none;
}

.volume-bar {
    max-width: 100px;
}

#pauseBtn {
    display: none;
}

#loading {
    display: none;
}

.player {
    border-style: solid;
    /* TODO replace below */
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

body {
    padding-bottom: 70px;
}