<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/resources/css/signin.css}">

    <link rel="icon" th:href="@{/resources/images/favicon.ico}">

    <title th:text="#{cisapifyLogin}"></title>
</head>

<body class="text-center">
<form class="form-signin" name="f" th:action="@{/login}" method="post">
    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
         height="72">
    <h1 class="h3 mb-3 font-weight-normal" th:text="#{pleaseSignIn}"></h1>
    <div th:if="${param.error}" class="alert alert-danger" th:text="#{invalidUsernameAndPassword}"></div>
    <div th:if="${param.logout}" class="alert alert-success" th:text="#{youHaveBeenLoggedOut}"></div>
    <label for="username" class="sr-only" th:text="#{emailAddress}"></label>
    <input type="email" id="username" name="username" class="form-control" th:placeholder="#{emailAddress}" required
           autofocus>
    <label for="password" class="sr-only" th:text="#{password}"></label>
    <input type="password" id="password" name="password" class="form-control" th:placeholder="#{password}" required>
    <div class="checkbox mb-3">
        <label><input type="checkbox" value="remember-me" th:text="#{rememberMe}"></label>
    </div>
    <button class="btn btn-lg btn-block btn-success" type="submit" th:text="#{signIn}"></button>
</form>

<div class="navbar navbar-expand-lg fixed-bottom navbar-dark bg-dark">
    <span class="navbar-text" th:text="#{copyright}"></span>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
