<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'upload')}">

<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div th:if="${file}">
    <audio controls>
        <source th:src="@{${file}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>

<div>
    <ul>
        <li th:each="playlist : ${playlists}">
            <a th:href="${playlist.key}" th:text="${playlist.value}"/>
        </li>
    </ul>
</div>

</body>
</html>
