<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'upload')}">

<body>
<input type="hidden" id="songsUri" name="songsUri" th:value="${songsUri}">
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div class="row player shadow-lg p-3 mb-5 bg-white rounded">
    <div id="title" class="col-12 mt-2 text-center">
        <div class="row">
            <div class="col-2">
                <div id="timer">0:00</div>
            </div>
            <div class="col-8">
                <span id="track"></span>
            </div>
            <div class="col-2">
                <div id="duration">0:00</div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-3">
        <div id="bar"></div>
        <input id="progress" class="form-control" type="range" min="0" max="100" step="0.1" value="0">
    </div>
    <div class="col-4 my-3"></div>
    <div class="col-4 text-center my-3 fa-2x">
        <div id="prevBtn" class="fas fa-backward"></div>
        <div id="playBtn" class="mr-3 ml-3 fas fa-play"></div>
        <div id="pauseBtn" class="mr-3 ml-3 fas fa-pause"></div>
        <i id="loading" class="mr-3 ml-3 fa fa-spinner fa-pulse fa-fw"></i>
        <div id="nextBtn" class="fas fa-forward"></div>
    </div>
    <div id="volume" class="col-4 my-3">
        <div class="mt-1 text-right">
            <div class="fas fa-volume-down fa-2x"></div>
            <input id="barEmpty" class="volume-bar mx-2" type="range" min="0" max="1" step="0.1" value="1">
            <div id="volumeBtn" class="fas fa-volume-up fa-2x"></div>
        </div>
    </div>
</div>

<div class="row my-3 playlist-container">
    <div class="col-12" id="playlist">
        <ul id="list" class="list-group">
        </ul>
    </div>
</div>

<script th:src="@{/resources/js/player_2.js}"></script>
<script th:src="@{/resources/js/howler.core.js}"></script>
<script th:src="@{/resources/js/siriwave.js}"></script>
</body>
</html>
